/* GENERALE */
body {
    margin: 0px;
}

.detailedMenu {
    width: 100%;
    border-radius: 30px 30px 0 0;
    background: rgba(246, 246, 246, 1);
    position: relative;
    margin-top: -4rem;
}

* {
    margin: 0;
    box-sizing: border-box;
}


/* HEADER */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 100%;

}

.ohmyfood {
    width: 162px;
    height: 44px;
    text-align: center;
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    background: rgba(255, 255, 255, 1);
    margin: 64px;

}


.logo-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-family: 'Roboto';
    background: #EAEAEA;
    color: #353535;
}

.icons {
    width: 12px;
    height: 16px;
    margin-right: 17px;
}



/* HOMESECTION */
.homeSection {
    padding: 30px;
    height: 300px;
    width: 100%;
    background: #D2D2D2;
}

.resto-Title {
    width: 275px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding: 20px 58px 0px 0px;
}

.restoText {
    width: 315px;
    height: 46px;
    left: 34px;
    top: 220px;
    color: grey;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    padding: 0px 20px 20px 30px;
}

.mainButton {
    border-radius: 25px;
    background: linear-gradient(200.64deg,
            #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: 218px;
    height: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 25px 50px 55px 50px;
    cursor: pointer;
}



/* FONCTIONNEMENT */

.flex {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    padding-top: 57px;
    gap: 25px;
    height: 440px;
    width: 375px;

}

.fonction {
    font-size: 24px;
    margin: 0px 20px;


}

.list-text-icon {
    border-radius: 20px;
    background: rgba(246, 246, 246, 1);
    width: 323px;
    height: 73px;
    display: flex;
    align-items: center;
    margin-left: 33px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.phone-list {
    margin-left: 27px;
    background: rgba(126, 126, 126, 1);

}

.number {
    position: relative;
    border-radius: 20px;
    background: rgba(147, 86, 220, 1);
    width: 24px;
    height: 24px;
    text-align: center;
    left: -13px;

}

.number-2 {
    left: -25px;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14.1818px;
    line-height: 17px;
}


.text-fonction {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 29px 38px 28px 27px;
    font-size: 16px;

}

/* RESTAURANTS */

.restaurantSection {
    display: flex;
    flex-direction: column;
    padding-top: 68px;
    padding-bottom: 65px;
    gap: 20px;
    background: #D2D2D2;
}

.gridList {
    margin: 0px 17px;
    gap: 20px;
    display: grid;

}





.menu-title {
    font-size: 28px;
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    padding: 0px 17px 0px 17px;


}

.restaurantImage {
    border-radius: 15px 15px 0px 0px;
    box-sizing: border-box;
    object-fit: cover;
    cursor: pointer;
    width: 100%;
}

.restaurantInfo {
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
}



.sectionTitle {
    margin: 0px 20px;

}

.tag {
    width: 80px;
    height: 29px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    right: 10px;
    top: 10px;
    background: rgba(153, 226, 208, 1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.restaurantName {
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.heartIcon {
    height: 21px;
    width: 21px;
    color: rgba(16, 16, 16, 1);
}


.restaurantLocation {
    color: #000000;
    font-size: 17px;
}

.restaurantItem {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    position: relative;

}

.restaurantItem .restaurantInfo {
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}

.restaurantItem .restaurantName {
    font-weight: 600;
    margin-top: 0.5rem;

}

/* FOOTER */


.linkTitle {
    display: flex;
    flex-direction: column;
    background: #353535;
    width: 100%;
    box-sizing: border-box;

}

.footerTitle {
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: white;
    padding: 20px 212px 16px 25px;
}

.footerlink {
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 25px;
}

.footerlink-2 {
    padding-left: 11px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

/* LA PALETTE DU GOUT */

.gridList-2 {
    width: 100%;
}

.menu {

    padding: 32px 17px 42px 17px;
    width: 100%;
}

.restaurantImage-2 {
    border-radius: 0px;
    width: 100%;
}

.menuList {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
}

.menuCategory {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    height: 27px;
    width: 275px;
    padding: 0px 87px 12px 13px;
    color: #000000;
}

.menuFood {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    width: 349px;
    box-sizing: border-box;

}

.menuFood .menuInfo {
    padding: 13px;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
}

.menuFood .menuInfo .menuText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
}



.menuPrice {
    display: flex;
    align-items: flex-end;

}

.menuTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-top: 12px
}

.menuDetail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

}

.icon-favori {
    padding-left: 30px;
    height: 21px;
    width: 22px;

}