/* GENERALE */
body {
    margin: 0px;
}

.loader {
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    animation: spin 3s linear;

    width: 100%;
    transform-origin: top;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.detailedMenu {
    width: 100%;
    border-radius: 30px 30px 0 0;
    background: rgba(246, 246, 246, 1);
    position: relative;
    margin-top: -4rem;
}

* {
    margin: 0;

}

p {
    font-family: 'Roboto';
    font-size: 15px;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* HEADER */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 100%;
}

.FlecheRetour {
    position: absolute;
    left: 0%;
    right: 0%;

}

.ohmyfood {
    width: 162px;
    height: 44px;
    text-align: center;
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    background: rgba(255, 255, 255, 1);
    margin: 64px;

}


.logo-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-family: 'Roboto';
    background: #EAEAEA;
    color: #353535;
}

.icons {
    width: 12px;
    height: 16px;
    margin-right: 17px;
}



/* HOMESECTION */
.homeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 300px;
    background: #f6f6f6;
}

.resto-Title {
    width: 275px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding: 20px 30px 0px 20px;

}

.restoText {
    width: 315px;
    height: 46px;
    left: 34px;
    top: 220px;
    color: grey;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 15px 0px;

}

.mainButton {
    border-radius: 25px;
    background: linear-gradient(200.64deg,
            #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: 218px;
    height: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 25px auto 55px auto;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.mainButton:hover {
    box-shadow: 0px 30px 25px rgba(0, 0, 0, 0.25);
    filter: brightness(1.50);

}




/* FONCTIONNEMENT */

.flex {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    padding-top: 57px;
    gap: 25px;
    height: 440px;


}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}

.fonction {
    font-size: 24px;
    margin: 0px 20px;
    font-family: 'Roboto';

}

.list-text-icon {
    border-radius: 20px;
    background: rgba(246, 246, 246, 1);
    width: 323px;
    height: 73px;
    display: flex;
    align-items: center;
    margin-left: 33px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.phone-list {
    margin-left: 27px;
    background: rgba(126, 126, 126, 1);

}

.number {
    position: relative;
    border-radius: 20px;
    background: rgba(147, 86, 220, 1);
    width: 24px;
    height: 24px;
    text-align: center;
    left: -13px;
    flex-shrink: 0;

}

.number-2 {
    left: -25px;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14.1818px;
    line-height: 17px;
    vertical-align: middle;
}


.text-fonction {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 29px 38px 28px 27px;
    font-size: 16px;

}

/* RESTAURANTS */

.restaurantSection {
    display: flex;
    flex-direction: column;
    padding-top: 68px;
    padding-bottom: 65px;
    gap: 20px;
    background: #f6f6f6;
}

.gridList {
    margin: 0px 17px;
    gap: 20px;
    display: grid;

}






.restaurantImage {
    border-radius: 15px 15px 0px 0px;
    box-sizing: border-box;
    object-fit: cover;
    cursor: pointer;
    width: 100%;
}

.restaurantInfo {
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
}



.sectionTitle {
    margin: 0px 20px;
    font-family: 'Roboto';
    font-size: 24px;
}

.tag {
    width: 80px;
    height: 29px;
    font-family: 'Roboto';
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    right: 10px;
    top: 10px;
    background: #99E2D0;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.restaurantName {
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}


.heart2 {
    opacity: 0;
}

.Hearticon {
    height: 22px;
    width: 22px;
    position: absolute;
    right: 0px;
    color: #000000;
    margin-top: 11px;

}

.Hearticon:hover {
    opacity: 1;
    transition-property: all;
    transition-duration: 1.5s;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.restaurantText {
    overflow: hidden;
    text-overflow: ellipsis;
}


@keyframes monanimation {
    0% {
        width: 300px;

    }

    100% {
        windows: 100%;

    }




}


.restaurantLocation {

    font-size: 17px;
}

.restaurantItem {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    position: relative;

}

.restaurantItem .restaurantInfo {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.restaurantItem .restaurantName {
    font-weight: 600;

    margin-bottom: 5px;
}

/* FOOTER */


.linkTitle {
    display: flex;
    flex-direction: column;
    background: #353535;
    width: 100%;
    box-sizing: border-box;

}

.footerTitle {
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: white;
    padding: 20px 212px 16px 20px;
}

.footerlink {
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 20px;
}

.footerlink-2 {

    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

/* LA PALETTE DU GOUT */

.gridList-2 {
    width: 100%;
}

.menu {

    padding: 32px 17px 42px 17px;
    width: 100%;
}

.menu-title {
    font-size: 28px;
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    padding: 0px 17px 0px 17px;
    display: flex;
    justify-content: center;
}



.restaurantImage-2 {
    border-radius: 0px;
    width: 100%;
    object-fit: cover;
}

.menuList {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;

}

.menuCategory {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    height: 27px;
    width: 275px;
    padding: 0px 87px 12px 13px;
    color: #000000;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;

}

.menuCategory::after {
    background: rgba(153, 226, 208, 1);
    position: absolute;
    border: 3px solid rgba(153, 226, 208, 1);
    content: "";
    left: 12px;
    bottom: 10px;
    width: 40px;
}

.menuFood {

    flex-direction: row;
    border-radius: 15px;
    background: RGBA(255, 255, 255, 1);
    box-shadow: 0 px 4.01149 px 15.0431px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    animation: appear 3s;
    animation-fill-mode: both;


}

.left {

    background-color: yellow;
    box-shadow: 0 px 4.01149 px 15.0431px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;


}

article.delay1 {

    animation: appear 3s 1s;
}

article.delay2 {
    animation: appear 3s 2s;
}

@keyframes appear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }

}

.menuFood .menuInfo {
    padding: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: width 2s;
}

.menuFood .menuInfo .menuText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
}



.menuPrice {
    display: flex;
    align-items: flex-end;
    color: #353535;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

}

.menuTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-top: 12px;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;

}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 0;
    height: 69px;
    overflow: hidden;
    background: #99E2D0;
    border-radius: 0px 15px 15px 0px;
    padding-bottom: 8px;
    transition: width 2s;

}





.menuFood:hover .menuInfo {
    width: 80%;
}

.menuFood:hover .check {
    width: 20%;
    opacity: 100%;
}


@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg)
    }

}

@keyframes spinneroff {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.menuFood:hover .Icon-check {
    transform: rotate(0deg);
}

.Icon-check {
    transition: 1s ease-in-out;
    transform: rotate(360deg);
    padding-top: 4px;
    color: white;
    aspect-ratio: 1;
    font-size: 1.5rem;
}







@media screen and (min-width: 768px) {



    .restaurantImage-2 {
        width: 100%;
        height: 231px
    }

    .FlecheRetour {
        margin-left: 23px;
    }



    .Hearticon {
        margin-top: 6px;
        box-sizing: border-box;
    }

    .menu .Hearticon {
        box-sizing: border-box;
        position: absolute;
        left: 68%;
        top: 3%;
        margin-top: 6px;
    }




    .detailedMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1054px;
        margin-left: auto;
        margin-right: auto;
    }



    .homeSection {

        display: flex;
        align-items: center;
    }

    /* LOGO POSITION */

    .logo-position {
        width: 100%;
    }

    .resto-Title {
        width: 100%;
    }

    .restoText {
        width: 100%;
    }

    /* FONCTIONNEMENT */

    .flex {
        display: flex;
        height: 262px;
        padding-top: 120px;

    }

    .test {
        display: flex;
        flex-direction: row;
        gap: 0
    }

    .list-text-icon {
        width: 323px;
    }

    /* RESTAURANTS */

    .gridList {
        flex-direction: row;
        display: flex;
    }

    /* FOOTER */

    .linkTitle {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        height: 114px;
    }

    .footerlink {}

    .footerTitle {
        padding: 0;
    }

    .element-1 {
        order: 4;
    }

    .element-2 {
        order: 3;
    }

    .element-3 {
        order: 2;
    }






}